

.background {
  background-color: #f7f7f7;
  padding: 40px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-plan {
  flex: 1 1 300px;
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.pricing-img {
  max-width: 100%;
  height: auto;
}

.pricing-header {
  font-size: 24px;
  margin-top: 20px;
  color: #0905fb;
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin-top: 2.5em;
  text-align: center;
}

.pricing-features-item:nth-child(1),
.pricing-features-item:nth-child(2) {
  margin-bottom: 1em;
}

.pricing-price {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.pricing-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0b04e4;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: .2em 0 1.5em 0;
  cursor: pointer;
}

.is-featured {
  background-color: #0905fb;
}

.pricing-subscriber {
  font-size: 24px;
  margin-top: 40px;
  text-align: center;
}

.pricing-subscriber a {
  color: blue;
  text-decoration: none;
}



@media (max-width: 600px) {
  .panel {
    flex-wrap: wrap;
  }

  .pricing-plan {
    flex-basis: 100%;
  }
}
